<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <title>Francesca Ludikar</title>

        <meta name="description" content="Francesca Ludikar is a photographer, graphic designer & artist from Toronto, Ontario, Canada. Specializing in portraiture, fashion, and commercial imagery.">
        <meta name="viewport" content="width=device-width">
        <meta name="keywords" content="Francesca Ludikar Frankie Fran Frances Franny Ludicar Loodicar Ludecar Ludekar graphic designer design artist arts graphics designs photoshop graphix photographer photoshoot photoshoots Toronto Canadian Canada Ontario Caledon Bolton photography photos imagery image images pic pics art artist arts commercial fashion music artwork t-dot portraiture portrait celebrity advertising ads adverts commercials">

        <meta name="google-site-verification" content="XEyX7iWTP3vQtfaTqIjrJidaoypBlDK_ZD6RV9Ec6Sk" />

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="/styles/main.css">

    </head>

    <body id="{{section}}">

    	<div class="spacer"></div>
		<div class="logo"><img src="/images/navbar_logo.png" alt="Francesca Ludikar MastHead"></div>

    	{{> navigation }}

		<section id="content">
			{{{ body }}}
		</section>
		
		{{> footer }}
        <script src="/js/app.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-50109836-1', 'auto');
            ga('send', 'pageview');
        </script>

    </body>
</html>