<div id="about">
	<div class="row">
		<div class="large-6 columns">
			<img src="/images/selfportrait.png" alt="Francesca Self Portrait">
		</div>
		<div class="large-6 columns">
			<h1>ABOUT FRANCESCA</h1>
			<p>With her roots planted in graphic design, Francesca Ludikar has expanded her love for imagery and strong visuals to create a unique perspective in graphic arts and photography. A belief that great art comes from simple ideas she continues this concept with an eye for detail. With a love for all forms of media, she has amassed a varied collection of clients including fashion blogger, Audrey Kitching, Toronto based youtubers, asapSCIENCE, and L.A. based actor, Tom Lenk from Buffy the Vampire Slayer. Early and continuing collaboration with Juno nominated artist, Skye Sweetnam and her band Sumo Cyco, Francesca has helped create their brand. With photography & designs based off Sumo Cyco's theatrical music videos from zombie invasions to T.V. heads to complete cityscapes of Cyco City. Equally at home in country music, with work fro Leah Daniels and Beverley Mahood, and in pop culture with Aleesia. With today's global technology, we have an opportunity to reach more people than ever before; great imagery is timeless and crosses all cultures and language barriers whether on a personal, corporate, or media level, Francesca embraces these challenges.</p>
			<p>Francesca is Toronto based.</p>
			<p>Interested in working together? Email Francesca at &#104;&#101;&#108;&#108;&#111;&#064;&#102;&#114;&#097;&#110;&#099;&#101;&#115;&#099;&#097;&#108;&#117;&#100;&#105;&#107;&#097;&#114;&#046;&#099;&#097;</p>
		</div>
	</div>
</div>