<div id="contact">
	<div class="row">
		<div class="large-12 columns">
			<h1>Contact</h1>
			<p>For more information or inquiries please email:</p>
			<h2>&#104;&#101;&#108;&#108;&#111;&#064;&#102;&#114;&#097;&#110;&#099;&#101;&#115;&#099;&#097;&#108;&#117;&#100;&#105;&#107;&#097;&#114;&#046;&#099;&#097;</h2>
		</div>
	</div>
</div>
