<div id="series">
	<div class="row">
		<div class="large-12 columns">
			<h1>TALES EN VOGUE</h1>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-genie.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">I CAN SHOW YOU THE WORLD</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Danika Kinnear</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-jasmine.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">DIAMOND IN THE ROUGH</span>
		<ul class="large-block-grid-6 medium-block-grid-3 small-block-grid-1">
			<li>Model: Danika Kinnear</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
			<li>Jewelry: Hai Ha Jewelry</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-thequeen.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">THE FAIREST OF THEM ALL?</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Meagan Dobbie</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-snowwhite.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">LIFE ISN'T FAIR</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Aurora Sweetnam</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-rapunzel.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">TANGLED UP IN ME</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Faery Lepidoptera</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-beautyandthebeast.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">A BEAUTY AND A BEAST</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Jess Ferg</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-maleficent.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">TRUE LOVE'S CURSE</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Kristen Sweeney</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-sleepingbeauty.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">ONCE UPON A DREAM</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Sarah Moyer</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-cinderella.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">A SLIPPER-Y MESS</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Marissa Fraggis</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-cruelladevil.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">101 PROBLEMS BUT FUR AIN'T ONE</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Stefie Drew</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-ursula.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">UNDER THE SEA</span>
		<ul class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">
			<li>Model: Kehli Get-Tus</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
			<li>Hair: Nicole Holmes St-Croix</li>
		</ul>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<img src="/images/photo-series/francescaludikar-ariel.jpg" alt="Francesca Self Portrait">
		</div>
		<span class="large-12 columns">A FISH OUT OF WATER</span>
		<ul class="large-block-grid-4 medium-block-grid-2 small-block-grid-1">
			<li>Model: Faery Lepidoptera</li>
			<li>Photography & Creative Direction: Francesca Ludikar</li>
			<li>Wardrobe & Production Assistance: Jess Ferg</li>
			<li>Make Up: Samantha Lynn</li>
		</ul>
	</div>
</div>