<section id="footer">
	<p class="show-for-medium-up">If you would like to work with Francesca, shoot her a message at &#104;&#101;&#108;&#108;&#111;&#064;&#102;&#114;&#097;&#110;&#099;&#101;&#115;&#099;&#097;&#108;&#117;&#100;&#105;&#107;&#097;&#114;&#046;&#099;&#097;</p>
	<p class="show-for-small-only">&#104;&#101;&#108;&#108;&#111;&#064;&#102;&#114;&#097;&#110;&#099;&#101;&#115;&#099;&#097;&#108;&#117;&#100;&#105;&#107;&#097;&#114;&#046;&#099;&#097;</p>
</section>