<div id="lightbox">
	<span class="icon-close close"></span>
	<div id="wrapper">
		<div id="imageview" class="center image">
			<img class="display-image" src="{{cloudinaryUrl image width='1000' height='1000' format='png'}}" />
			<div id="info-bar" class="opacity-animation">
				<ul>
					<li id="information"><i class="icon-info"></i></li>
					<li id="share"><i class="icon-share"></i>
						<ul>
							<li><a href="https://twitter.com/home?status=http://francescaludikar.ca/{{image.project.key}}/{{image.slug}}" target="_blank"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/sharer/sharer.php?u=http://francescaludikar.ca/{{image.project.key}}/{{image.slug}}" target="_blank"><i class="icon-facebook"></i></a></li>
							<li><a href="https://plus.google.com/share?url=http://francescaludikar.ca/{{image.project.key}}/{{image.slug}}" target="_blank"><i class="icon-google-plus"></i></a></li>
							<li><a href="http://www.tumblr.com/share?v=3&u=http://francescaludikar.ca/{{image.project.key}}/{{image.slug}}" target="_blank"><i class="icon-tumblr"></i></a></li>
						</ul>
					</li>
				</ul>
			</div>

			<div class="overlay">
				<div id="image_info" class="height-animation" data-bind="css: {'changed': showCaption}">
					<div>
						<p>Client: <span>{{image.client}}</span></p>
						<p>Project: <span>{{image.project.name}}</span></p>
					</div>
				</div>
			</div>
		</div>

		<div class="left arrow icon-arrow flip"></div>
		<div class="right arrow icon-arrow"></div>
	</div>
</div>