<section id="navigation">
	<nav class="top-bar">
		<ul class="title-area">
			<li class="name"></li>
			<li class="toggle-topbar menu-icon"><a href="#"></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="http://www.twitter.com/frankieludikar" target="_blank"><img src="/images/social_twitter.png" alt="Social Twitter"></a></li>
				<li><a href="http://www.facebook.com/francescaludikar" target="_blank"><img src="/images/social_facebook.png" alt="Social Facebook"></a></li>
				<li><a href="https://plus.google.com/+FrancescaLudikar/" target="_blank"><img src="/images/social_google.png" alt="Social Google+"></a></li>
				<li><a href="http://instagram.com/francescaludikar" target="_blank"><img src="/images/social_instagram.png" alt="Social Instagram"></a></li>
				<li><a href="http://www.linkedin.com/profile/view?id=148632782" target="_blank"><img src="/images/social_linkedin.png" alt="Social LinkedIn"></a></li>
				<li><a href="http://francescaludikar.tumblr.com/" target="_blank"><img src="/images/social_tumblr.png" alt="Social tumblr"></a></li>
			</ul>
			<!-- Left Nav Section -->
			<ul class="left">
				{{#each navLinks}}
					<li><a href="{{this.link}}">{{this.label}}</a></li>
				{{/each}}
			</ul>
		</section>
	</nav>
</section>