@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-9go5mp');
	src:url('/fonts/icomoon.eot?#iefix-9go5mp') format('embedded-opentype'),
		url('/fonts/icomoon.ttf?-9go5mp') format('truetype'),
		url('/fonts/icomoon.woff?-9go5mp') format('woff'),
		url('/fonts/icomoon.svg?-9go5mp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
	content: "\e602";
}
.icon-close:before {
	content: "\e601";
}
.icon-info:before {
	content: "\e600";
}
.icon-arrow:before {
	content: "\ea1c";
}
.icon-google-plus:before {
	content: "\ea8a";
}
.icon-facebook:before {
	content: "\ea8e";
}
.icon-twitter:before {
	content: "\ea93";
}
.icon-tumblr:before {
	content: "\eabc";
}

.flip {
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
