@import 'settings';
@import 'icons';
@import 'foundation/scss/foundation';

h1 {
	font-family: 'bodonixtregular';
	color: $body-white;
	font-size: 3rem;
}

h2 {
	color: $body-white;
}

#application {
	height: 100%;
}

#loading{
    position:fixed;
    z-index:1001;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,0.3);

    .spinner {
		position: relative;
		width: 0px;
		z-index: 2000000000;
		left: 50%;
		top: 50%;
    }
}

.spacer {
	background: url('/images/navbar_bg.png') repeat-x;
	height: rem-calc(41);
	width: 100%;
}

.logo {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	margin: auto;
	width: rem-calc(296);
	img {
		vertical-align: top;
	}
	z-index: 1000;
}

#navigation {
	background: url('/images/navbar_bg.png') repeat-x;

	.top-bar-section{
		background: url('/images/navbar_btm_bg.png') repeat-x;
	}

	.right {
		padding: 10% 0 0 0;
		li {
			a {
				width: auto;
				float: left;
				padding: 0 5px;
			}
		}
	}

	@media screen and (min-width: 840px){
		.left {
			margin: 0 0 0 5%;
		}
		.right {
			margin: 0 5% 0 0;
			padding: 0 0;
		}
	}

}

#contact, #about {
	.row {
		padding: 3em 0 0 0;
	}

	h2 {
		font-size: 1.1rem;
	}
}

#series {

	.row:first-child {
		padding: 3em 0 0 0;
	}

	span {
		font-size: 1.1rem;
	}

	li {

		@media only screen and (max-width: 64em){
			&:last-child {
				padding-bottom: 1rem;
			}
			padding-bottom: 0.25rem;
		}

		font-size: 0.8rem;
		text-align: center;
		line-height: 1rem;
	}
}

#content {
	background-color: black;
	padding-bottom: 35px;
	min-height: 100%;
	color: $body-white;
	text-align: center;

	.item {
		margin-bottom: 10px;
		opacity: 0;
		img.lightbox {
			width: 266px;
		}
	}

	.rollover {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		text-align: center;
		opacity: 0;
		background-color: black;

		&:hover, &.hover {
			opacity: 0.6;

			span {
				color: white;
				position: absolute;
				display: block;
				top: 50%;
				width: 100%;
				margin-top: -0.688em;
				font-size: 2em;
			}
		}
	}
}

.grid-sizer{
	width: 10%;
}

#gallery {
	margin: 0 auto;
}

#footer {
	height: rem-calc(45);
	position: fixed;
	left: 0px;
	bottom: 0px;
	width:100%;
	background: url('/images/footer_bg.png') repeat-x;

	p {
		font-size: 0.85rem;

		@media #{$medium-up} {
			font-size: 1rem;
		}
		margin: 6px 0 0 0;
		color: #b0b1b1;
		width: 100%;
		text-align: center;

	}
}

#lightbox {
	// display: none;
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    background:url(/images/overlay.png) repeat; 
    text-align:center;
    z-index: 1001;

    .close {
    	float: left;
    	font-size: rem-calc(35);
    	margin: rem-calc(20);
    	color: white;
    }
    #wrapper {
		width: 80%;
		height: 85%;
		position: absolute;
		margin: auto;
		top: 0; left: 0; bottom: 0; right: 0;

		#imageview {
			position: absolute;
			margin: auto;
			width: 92%;
			top: 0; left: 0; bottom: 0; right: 0;

			& > img {
				max-height: 100%;
				max-width: 100%;
				width: auto;
				position: absolute;
				margin: auto;
				top: 0; left: 0; bottom: 0; right: 0;

				opacity:0;
				-moz-transition: opacity 0.5s; /* Firefox 4 */
				-webkit-transition: opacity 0.5s; /* Safari and Chrome */
				-o-transition: opacity 0.5s;
				transition: opacity 0.5s;
			}

			& > .overlay {
				position: absolute;
				margin: auto;
				top: 0; left: 0; bottom: 0; right: 0;
				width: auto;
			}
		}

		.arrow {
			position: absolute;
			height: rem-calc(69);
			width: rem-calc(43);
			font-size: rem-calc(69);
			margin: auto;
			top: 0; bottom: 0;
		}

		.right {
			right: 0;
		}

		.height-animation {
			-moz-transition:height 1s opacity 1s;
			-webkit-transition:height 1s opacity 1s;
			-o-transition:height 1s opacity 1s;
			-ms-transition:height 1s opacity 1s;
			transition:height 1s, opacity 1s;
		}

		.opacity-animation {
			-moz-transition:opacity 1s;
			-webkit-transition:opacity 1s;
			-o-transition:opacity 1s;
			-ms-transition:opacity 1s;
			transition:opacity 1s;
		}

		#info-bar {
			// display: none;
			height: 0;
			position: absolute;
			overflow: hidden;
			margin: auto;
			top: 0; left: 0; right: 0; bottom: 0;
			z-index: 100;
			padding: 5px 10px 0 10px;
			height: rem-calc(200);
			opacity: 0;
			color: grey;

			i {
				font-size: rem-calc(30);

				&:hover {
					text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
					color: white;
				}
			}

			ul {
				padding:0;
				margin:0;
				list-style: none;
				position: relative;

				#information {
					float: left;
				}

				#share {
					float: right;
				}

				&:After {
					content: "";
					display:block;
					clear:both;
				}

				li {
					display:list-item;
					list-style: none;

					&:hover > ul {
						display:list-item;
					}
				}

				ul {
					display: none;
					position: absolute;

					li {
						width: rem-calc(40);
						float: none;
						position: relative;
						border-bottom: none;

						a {
							color: grey;
						}

						i {
							margin-right:10px;
						}
					}
				}
			}
		}

		#imageview:hover #info-bar {
			opacity: 1;
		}

		#image_info {
			background: black;
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 0;
			margin: auto;
			left: 0; right: 0;

			overflow: hidden;

			&.changed {
				height: 20%;
				opacity: 0.75;
			}

			p {
				margin: 0;
			}

			@media #{$medium-up} {
				p {
					text-transform: capitalize;
					float: left;
					padding-right: 20px;
					margin-bottom: 0;
				}
			}
		}
    }
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}