@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-9go5mp');
	src:url('fonts/icomoon.eot?#iefix-9go5mp') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-9go5mp') format('truetype'),
		url('fonts/icomoon.woff?-9go5mp') format('woff'),
		url('fonts/icomoon.svg?-9go5mp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-iconmonstr-info-2-icon:before {
	content: "\e600";
}
.icon-play3:before {
	content: "\ea1c";
}
.icon-google-plus3:before {
	content: "\ea8a";
}
.icon-facebook3:before {
	content: "\ea8e";
}
.icon-twitter3:before {
	content: "\ea93";
}
.icon-tumblr2:before {
	content: "\eabc";
}
